body {
  font-family: Arial, Helvetica, sans-serif; }

._hidden {
  display: none !important; }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: black; }

ul {
  padding: 0;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: normal; }

p {
  margin-block-start: 0;
  margin-block-end: 0; }

header {
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3); }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min-content; }
  .header__logo {
    height: 60px;
    margin-left: 80px; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
    background-color: white; }
  .header__contact-button {
    position: absolute;
    right: 20px;
    padding: 5px;
    background-color: #ff002b;
    color: white;
    border: 2px solid white;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer; }

.preheader {
  display: flex;
  align-items: center;
  padding: 5px 80px;
  background-color: #ececec; }
  .preheader a {
    height: 25px; }
    .preheader a:not(:last-child) {
      margin-right: 5px; }
  .preheader__contacts {
    margin-right: auto; }
  .preheader__contacts a {
    transition: color 100ms linear; }
    .preheader__contacts a:hover {
      color: #555; }
    .preheader__contacts a:active {
      color: black; }
  .preheader .logo {
    width: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: grey;
    cursor: pointer; }
    .preheader .logo[src*="facebook"] {
      padding: 5px 6px 5px 4px; }
    .preheader .logo:hover {
      background-color: #6b6b6b; }
    .preheader .logo:active {
      background-color: grey; }

.navigation {
  margin-right: 80px; }
  .navigation #navList {
    display: flex; }
  .navigation ._active a {
    color: #ff002b !important;
    cursor: default !important; }
    .navigation ._active a:hover {
      color: #ff002b !important; }
    .navigation ._active a:active {
      color: #ff002b !important; }
  .navigation #navList li a {
    color: gray;
    cursor: pointer;
    font-size: 18px; }
  .navigation #navList li a:hover {
    color: black; }
  .navigation #navList li a:active {
    color: gray; }
  .navigation #navList li:not(:last-child):after {
    content: '|';
    margin: 0 5px;
    color: gray; }

.sm-nav-button {
  display: none; }

@media (max-width: 960px) {
  .header {
    width: 100%; }
    .header__wrapper {
      padding: 3px 0;
      flex-direction: column; }
    .header__logo {
      margin-left: 8px; }

  .preheader {
    padding: 5px 8px; }

  .navigation {
    margin-right: 0;
    width: 100%; }

  #navList {
    flex-direction: column; }
    #navList li {
      border-top: 1px solid #d4d4d4;
      padding: 10px 8px; }
      #navList li:after {
        display: none; }

  .sm-nav-button {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    display: block;
    background-image: url("../images/nav-list-icon.svg");
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
    background-color: white;
    border: 2px solid #464646;
    border-radius: 5px;
    cursor: pointer; } }
h1 {
  color: white;
  font-size: 70px; }

.headline {
  padding: 200px 150px;
  background-image: url("../images/2.jpg");
  background-position: center;
  background-size: cover; }
  .headline h2 {
    color: white;
    font-size: 30px; }

@media (max-width: 1140px) {
  h1 {
    font-size: 50px; }

  .headline {
    padding: 120px 80px; }
    .headline h2 {
      font-size: 20px; } }
@media (max-width: 960px) {
  h1 {
    font-size: 40px; }

  .headline {
    padding: 60px 40px; }
    .headline h2 {
      font-size: 20px; } }
@media (max-width: 520px) {
  .headline {
    padding: 60px 8px; } }
#technologies {
  display: flex;
  justify-content: space-around;
  padding: 5px; }
  #technologies img {
    width: 60px;
    height: 60px; }

#features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  padding: 10px 10px 20px;
  background-image: url("../images/congruent_outline.png"); }
  #features div {
    text-align: center;
    padding: 20px 0; }
  #features img {
    width: 100px;
    width: 100px;
    margin: 30px 0;
    border: 3px solid #a1a1a1;
    border-radius: 70px;
    background-color: rgba(161, 161, 161, 0.2);
    cursor: pointer; }
    #features img:hover {
      background-color: white; }
  #features h3 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 25px; }

.qualities {
  display: flex;
  justify-content: space-around; }
  .qualities h2 {
    text-align: center;
    font-size: 30px; }
  .qualities p {
    font-size: 18px; }
  .qualities img {
    height: 100px;
    margin-right: 15px; }
  .qualities__item {
    display: flex;
    padding: 15px; }

@media (max-width: 1140px) {
  #features div {
    padding: 0; }
  #features img {
    width: 70px;
    width: 70px;
    margin: 20px 0; }
  #features h3 {
    font-size: 20px; }

  .qualities h2 {
    font-size: 20px; }
  .qualities p {
    font-size: 13px; }
  .qualities img {
    height: 70px;
    margin-right: 10px; }
  .qualities__item {
    padding: 10px; } }
@media (max-width: 960px) {
  .qualities {
    flex-direction: column; }

  #features {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); } }
@media (max-width: 540px) {
  #technologies img {
    width: 40px;
    height: 40px; }

  #features {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr); }

  .qualities h2 {
    text-align: center;
    font-size: 16px; }
  .qualities p {
    font-size: 11px; }
  .qualities img {
    height: 40px;
    margin-right: 5px; } }
.footer {
  padding: 50px 0;
  background-color: #ec1337;
  color: white; }
  .footer h2 {
    font-size: 25px;
    text-align: center; }
  .footer__goals {
    text-align: center;
    padding-top: 20px; }
    .footer__goals span {
      font-size: 25px;
      white-space: nowrap; }
      .footer__goals span:not(:last-child) {
        margin-right: 70px; }
    .footer__goals img {
      width: 25px;
      margin-right: 5px; }

@media (max-width: 1140px) {
  .footer {
    padding: 20px 10px; }
    .footer__goals span:not(:last-child) {
      margin-right: 30px; } }
@media (max-width: 720px) {
  .footer h2 {
    font-size: 20px; }
  .footer__goals span {
    font-size: 20px; }
    .footer__goals span:not(:last-child) {
      margin-right: 15px; }
  .footer__goals img {
    width: 20px;
    margin-right: 3px; } }

/*# sourceMappingURL=style.css.map */
