.footer {
  padding: 50px 0;

  background-color: #ec1337;
  color: white;
  
  & h2 {
    font-size: 25px;
    text-align: center;
  }

  &__goals {
    text-align: center;
    padding-top: 20px;

    & span {
      &:not(:last-child) {
        margin-right: 70px;
      }

      font-size: 25px;
      white-space: nowrap;
    }

    & img {
      width: 25px;
      margin-right: 5px;
    }
  }
}



@media (max-width: 1140px) {
  .footer {
    padding: 20px 10px;

    &__goals span {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

@media (max-width: 720px) {
  .footer {
    
    & h2 {
      font-size: 20px;
    }
  
    &__goals {
      & span {
        &:not(:last-child) {
          margin-right: 15px;
        }
  
        font-size: 20px;
      }
  
      & img {
        width: 20px;
        margin-right: 3px;
      }
    }
  }
}