.preheader {
  display: flex;
  align-items: center;
  padding: 5px 80px;

  background-color: #ececec;

  & a:not(:last-child) {
    margin-right: 5px;
  }

  &__contacts {
    margin-right: auto;
  }

  &__contacts a {
    transition: color 100ms linear;

    &:hover {
      color: #555;
    }

    &:active {
      color: black;
    }
  }

  & .logo {
    width: 15px;
    height: 15px;
    padding: 5px;

    border-radius: 5px;
    background-color: grey;
    cursor: pointer;

    &[src*="facebook"] {
      padding: 5px 6px 5px 4px;
    }

    &:hover {
      background-color: #6b6b6b;
    }

    &:active {
      background-color: grey;
    }
  }
}



.navigation {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
  }

  &__logo {
    height: 60px;
  }

  & ul {
    display: flex;
  }

  & ._active a {
    color: #ff002b;
    cursor: default;

    &:hover {
      color: #ff002b;
    }

    &:active {
      color: #ff002b;
    }
  }

  & li {
    & a {
      color: gray;
      cursor: pointer;
    }

    & a:hover {
      color: black;
    }

    & a:active {
      color: gray;
    }

    &:not(:last-child):after {
      content: '|';
      margin: 0 5px;
      color: gray;
    }
  }
}



@media (max-width: 720px) {
  .preheader {
    padding: 0 8px;
  }
}