h1 {
  color: white;
  font-size: 70px;
}

.headline {
  padding: 200px 150px;

  background-image: url('../images/2.jpg');
  background-position: center;
  background-size: cover;
  // parallax
  position: sticky;
  top: 101px;
  z-index: -1;

  & h2 {
    color: white;
    font-size: 30px;
  }
}



@media (max-width: 1140px) {
  h1 {
    font-size: 50px;
  }
  
  .headline {
    padding: 120px 80px;
  
    & h2 {
      font-size: 20px;
    }
  }
}

@media (max-width: 960px) {
  h1 {
    font-size: 40px;
  }

  .headline {
    padding: 60px 40px;

    & h2 {
      font-size: 20px;
    }
  }
}

@media (max-width: 520px) {
  .headline {
    padding: 60px 8px;
  }
}